[user]
	name = Ricardo Gaviria
	email = ricardo.a.gaviria@gmail.com
[alias]
	s = status -s
	l = log
        lo = log --oneline
	dif = diff
	cob = checkout -b
	co = checkout
	br = branch
	c = commit 
	cm = commit -m
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
        ap = add -p

[push]
	default = simple
[diff]
	tool = bc3
[merge]
	tool = bcomp
[difftool "bc3"]
	trustExitCode = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
